/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/app/public/images/?*.*
/storage/app/public/reportes/certificados_afiliacion/?*.*
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

config/database.php
app/Models/Modelo.php

*.useless
*.old
.env.msgraph.client-credentials.example

/resources/views/emails/auditorias/auditoria_en_terreno_actualizar.blade.php
/resources/views/emails/auditorias/auditoria_en_terreno_solicitar.blade.php
/resources/views/emails/common_cuenta_corriente.blade.php
/resources/views/emails/common.blade.php
/resources/views/emails/notificacion_acuerdo_plan_de_pago.blade.php
/resources/views/emails/notificacion_certificado_generado.blade.php
/resources/views/emails/notificacion_documentacion.blade.php
/resources/views/emails/notificacion_email_afiliado_verificado.blade.php
/resources/views/emails/notificacion_estado_cuenta.blade.php
/resources/views/emails/notificacion_expediente.blade.php
/resources/views/emails/notificacion_factura.blade.php
/resources/views/emails/notificacion_historia_clinica.blade.php
/resources/views/emails/notificacion_informacion_afiliado.blade.php
/resources/views/emails/notificacion_listado_turnos_medicos.blade.php
/resources/views/emails/notificacion_nombre_usuario.blade.php
/resources/views/emails/notificacion_orden_compra.blade.php
/resources/views/emails/notificacion_pase.blade.php
/resources/views/emails/notificacion_prescripcion_generada.blade.php
/resources/views/emails/notificacion_receta_generada.blade.php
/resources/views/emails/notificacion_recibo.blade.php
/resources/views/emails/notificacion_registro_usuario_afiliado.blade.php
/resources/views/emails/notificacion_registro_usuario_doctor.blade.php
/resources/views/emails/notificacion_reseteo_clave.blade.php
/resources/views/emails/notificacion.blade.php
/resources/views/emails/solicitud_encuesta_atencion.blade.php
/resources/views/emails/solicitud_pedido_presupuesto_expediente.blade.php
/resources/views/emails/solicitud_informacion_preautorizacion.blade.php
